*{box-sizing: border-box;}
.grid-container {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color:white;
    padding: 20px;
  }
  
  .grid-container > div {
   
    text-align: center;
    font-size: 30px;
   
   
  }
  body { 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .header {
    overflow: hidden;
    background-color:black;
    padding: 20px 10px;
  }
  
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  .header-right {
    float: right; float: none;
  }
  .header a:hover {
    background-color:gray;
    color: white;
  }
  .footer {
   padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
 }
  /* MEDIA QUERY*/
   /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
        
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   
}